<ul id="table-tabs" class="nav nav-tabs responsive" style="margin-top: 10px;">
  <li role="presentation"><a href="#/authors">Authors</a></li>
  <li role="presentation"><a href="#/advisors">Advisors</a></li>
  <li role="presentation"><a href="#/subjects">Subjects</a></li>
  <li role="presentation"><a href="#/external-publications">External Publications</a></li>              
  <li role="presentation" class="active"><a href="#/keyword-search">Keyword Search</a></li>              
</ul>   

<div style="width: 100%; margin:0 auto; text-align: center;">
<input style="border-radius: 0; width: 90%; margin: 0 auto; display: inline-block; margin-top: 10px; margin-right: 10px; margin-bottom: 20px; vertical-align: top;" type="text"  ng-model="enteredKeyword" placeholder="Enter a Keyword" class="form-control"><button style="vertical-align: top; margin-top: 10px;" data-toggle="modal" data-target="#keywordModal" type="button" class="btn btn-default" ng-click="getDissertationByKeyword(enteredKeyword)">Search</button>
</div>
    <p ng-show="enteredKeywordTF" style="border-bottom: thin solid #e2e2e2;"><b>{{dissertationsByKeyword.length}}</b> Abstracts containing the keyword: <b>{{enteredKeyword}}</b></p>
    <a ng-repeat="dbk in dissertationsByKeyword" style="cursor:pointer; margin-bottom:25px;" ng-click="getDescAuthInfo(dbk.authorid)" data-toggle="modal" data-target="#authorModal2"><p>{{dbk.dissertationtitle}}</p></a>


  

<!--
  <div class="modal fade" id="keywordModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Abstracts With This Keyword</h4>
        </div>
        <div class="modal-body" id="abstract-modal-body">
            <p ng-repeat="dbk in dissertationsByKeyword">{{dbk.dissertationtitle}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>  
-->

    <div class="modal fade" id="authorModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content" id="authorInfoPrint">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h2 class="modal-title" style="text-align: center;" id="myModalLabel">{{descAuthInfo[0].author}}</h2>
              <h4 class="modal-title" style="text-align: center; font-size: 14px; font-style: italic;" id="myModalLabel">{{descAuthInfo[0].dissertationtitle}}</h4>
          </div>
          <table class="table mod-tbl">
            <tr>
                <td><b>Committe Member 2:</b> {{descAuthInfo[0].committeemember2}}</td>  
                <td><b>Primary Subject Category:</b> {{descAuthInfo[0].primarysubjectcategory}}</td>  
            </tr>
            <tr>
                <td><b>Committe Member 3:</b> {{descAuthInfo[0].committeemember3}}</td>  
                <td><b>Secondary Subject Category:</b> {{descAuthInfo[0].secondarysubjectcategory}}</td>  
            </tr>
            <tr>
                <td><b>Committe Member 4:</b> {{descAuthInfo[0].committeemember4}}</td>  
                <td><b>Tertiary Subject Category:</b> {{descAuthInfo[0].tertiarysubjectcategory}}</td>  
            </tr>
            <tr>
                <td><b>Committe Member 5:</b> {{descAuthInfo[0].committeemember5}}</td>  
                <td><b>Primary Method Used:</b> {{descAuthInfo[0].primarymethodused}}</td>  
            </tr>
            <tr>
                <td><b>Earlier Advisor 1:</b> </td>  
                <td><b>Secondary Method Used:</b> {{descAuthInfo[0].secondarymethodused}}</td>  
            </tr>
            <tr>
                <td><b>Earlier Advisor 2:</b> </td>  
                <td><b>Tertiary Method Used:</b> {{descAuthInfo[0].tertiarymethodused}}</td>  
            </tr>              

            <tr>
                <td><b>Total Number of Pages:</b> {{descAuthInfo[0].numberofpagestotal}}</td>  
                <td><b>Successful Defense Date:</b> {{descAuthInfo[0].dateofsuccessfuldefense}}</td>  
            </tr>
            <tr>
                <td><b>Pages Without Appendices:</b> {{descAuthInfo[0].numberofpageswithoutappendices}}</td>  
                <td><b>Fraction of Years Not Enrolled:</b> {{descAuthInfo[0].fractionofyearsnotenrolled}}</td>  
            </tr>
            <tr>
                <td><b>Number of Figures:</b> {{descAuthInfo[0].numberoffigures}}</td>  
                <td><b>Title of External Publication:</b> {{descAuthInfo[0].titleofexternalpublication1}}</td>  
            </tr>
            <tr>
                <td><b>Number of Tables:</b> {{descAuthInfo[0].numberoftables}}</td>  
                <td><b>Title of External Publication:</b> {{descAuthInfo[0].titleofexternalpublication2}}</td>  
            </tr>
            <tr>
                <td><b>Number of References:</b> {{descAuthInfo[0].numberofnumberedandcitedreferences}}</td>  
                <td> </td>  
            </tr>
            <tr>
                <td><b># Of Bibliography Documents:</b> {{descAuthInfo[0].numberofbibliographydocuments}}</td>  
                <td> </td>
            </tr>              
          </table>            
          <div class="modal-body">
            <!-- Abstract -->
          </div>
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="PrintElem('#authorInfoPrint')">Print</button>
            <button type="button"  style="background-color: #01508D;" class="btn btn-info" data-toggle="modal" data-target="#myModalAb">Abstract</button>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div> 

  <div class="modal fade" id="myModalAb" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Abstract</h4>
        </div>
        <div class="modal-body" id="abstract-modal-body">
          <!-- <p>{{abstract[0].abstract}}</p> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>  